@import "tailwindcss";

:root {
  --background: #f0f3bd;
  --foreground: #028090;
}

html.dark{

    
  --background: #0b152a;
  --foreground: #f0f3bd;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  .dark{

    :root {
      --background: #0b152a;
      --foreground: #f0f3bd;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
